@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: "Nexa";
        font-weight: 300;
        src: url("../../assets/fonts/nexa/Nexa-Light.eot"); /* IE9*/
        src: url("../../assets/fonts/nexa/Nexa-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../../assets/fonts/nexa/Nexa-Light.woff") format("woff"),
        url("../../assets/fonts/nexa/Nexa-Light.otf") format("opentype"),
        url("../../assets/fonts/nexa/Nexa-Light.ttf") format("truetype");
    }

    @font-face {
        font-family: "Nexa";
        font-weight: normal;
        src: url("../../assets/fonts/nexa/Nexa-Regular.otf") format("opentype");
    }

    @font-face {
        font-family: "Nexa";
        font-weight: bold;
        src: url("../../assets/fonts/nexa/Nexa-Bold.eot"); /* IE9*/
        src: url("../../assets/fonts/nexa/Nexa-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../../assets/fonts/nexa/Nexa-Bold.woff") format("woff"),
        url("../../assets/fonts/nexa/Nexa-Bold.otf") format("opentype"),
        url("../../assets/fonts/nexa/Nexa-Bold.ttf") format("truetype");
    }

    *:not(.brand-text) {
        font-family: 'Exo 2', 'Nexa', 'system-ui', '-apple-system', '.AppleSystemUIFont', 'BlinkMacSystemFont', sans-serif;
    }

    .brand-text {
        font-family: 'Nexa', 'Exo 2', 'system-ui', '-apple-system', '.AppleSystemUIFont', 'BlinkMacSystemFont', sans-serif;
        text-transform: lowercase;
        letter-spacing: 0.007em;
    }
}




header {
    @apply p-4 bg-gray-500 text-white
}
.input-class {
    @apply border-0 px-3 py-3 mb-0 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150;
}
.text-area-class {
    @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md p-4;
}
.error-panel {
    @apply bg-red-700 p-4 m-12 text-white font-bold border-4 text-center rounded-md;
}
.button-class {
    @apply px-4 py-2 bg-indigo-500 rounded-md text-white m-2;
}
.button-class-outline {
    @apply px-4 py-2 bg-white border border-indigo-500 text-indigo-500 rounded-md text-white  m-2;
}
.title {
    @apply text-2xl text-indigo-500 font-bold py-4;
}
.auth-form-input {
    @apply border-0 px-3 py-3 mb-0 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150;
}
.btn-morgan {
    @apply font-extrabold uppercase px-6 py-3 mr-1 mb-1 w-full rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150;
    background: rgb(0,115,251);
    background: linear-gradient(80deg, rgba(0,115,251,1) 0%, rgba(1,218,236,1) 100%);
    color: #2c3e4f;
}
